body {
    margin: 0;
    padding: 0;

    /* Background gambar */
    background-image: url('Background.jpg');

    /* Agar gambar full layar */
    background-size: cover;

    /* Posisi gambar */
    background-position: center;

    /* Tidak mengulang gambar */
    background-repeat: no-repeat;

    /* Tinggi minimal */
    min-height: 100vh;

    font-family: Arial, sans-serif;
}

/* Kotak konten */
header {
    background: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}